html
{
   background-color: rgb(30, 20, 20);
   overflow-x: hidden;
   overflow-y: scroll;
}

body
{
 color: white;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

h1
{
 font-family: sans-serif;
 font-weight: bold;
 font-style: italic;
 text-align: center;
}

h3
{
 font-family: sans-serif;
 font-style: italic;
 text-align: center;
}

.credits
{
  display: inline-block;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
  transform: translate(0%, 300%);
  color: white;
  text-decoration: none;
  opacity: 0.3;
}
.credits:hover
{
  transition: opacity 0.5s;
  opacity: 1.0;
}
